# ValidationResult

## ININ.PureCloudApi.Model.ValidationResult

## Properties

|Name | Type | Description | Notes|
|------------ | ------------- | ------------- | -------------|
| **SeparatorValid** | **bool?** | Separator valid in the upload | |
| **FileEncodingValid** | **bool?** | File encoding valid for the upload | |
| **Errors** | [**List&lt;ValidationError&gt;**](ValidationError) | List of errors for the upload | |



_PureCloudPlatform.Client.V2 226.0.0_
