# VerificationResult

## ININ.PureCloudApi.Model.VerificationResult

## Properties

|Name | Type | Description | Notes|
|------------ | ------------- | ------------- | -------------|
| **Status** | **string** | The verification status. | [optional] |
| **Records** | [**List&lt;Record&gt;**](Record) | The list of DNS records that pertain that need to exist for verification. | [optional] |



_PureCloudPlatform.Client.V2 233.0.0_
