---
title: VerificationResult
---
## ININ.PureCloudApi.Model.VerificationResult

## Properties

|Name | Type | Description | Notes|
|------------ | ------------- | ------------- | -------------|
| **Status** | **string** | The verification status. | [optional] |
| **Records** | [**List&lt;Record&gt;**](Record.html) | The list of DNS records that pertain that need to exist for verification. | [optional] |
{: class="table table-striped"}


